{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="refresh" content="3;url={{ url_for('support.support_check') }}"/>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Welcome to Crun.ch.</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link href="../static/css/recommendstyle.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14
   .7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: black">
<div class="container" style="background:#000000" align="center">
	<h1>Status Updated!</h1>
</div>
</body>
</html>
{% endblock %}
