{% block content %}
<<<<<<< HEAD
<html>
    <body>

    <h2>Text Input</h2>

    <form name="E-Mail" action="/newsletter/result" method="POST">
        Subject:<br>
            <input type="text" name="subject" value={{request.form.subject}}>
        <br>
        Message:<br>
            <textarea name="email" cols="100" rows="20" value={{request.form.email}}></textarea>
        <br><br>
        <button type = 'submit'> Submit</button>
    </form>

    </body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Welcome to Crun.ch.</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link href="../static/css/newsletterstyle.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: black">
<div class="container" style="background:#000000" align="center">
	<h1>Recommend a Movie!</h1>

 <div class="container" style="background:#181818; border:1px solid #D4AF8F; width: 60%; padding-bottom: 10px"  align="center">
       <form class="newsletter" action="../newsletter/email" method="POST">
           <div class="form-group">
	         <label for="movie_name">Subject:</label>
	         <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject" value={{ request.form.subject }}>
		   </div>
           <div class="form-group">
 	         <label for="why">Message?</label>
 	         <br>
	         <textarea name="email" cols="70" rows="20" placeholder="Message" value={{ request.form.email }}></textarea>
		   </div>
           <button type="submit"> Submit </button>
       </form>
</div>
	</div>
</body>
>>>>>>> hershil
</html>
{% endblock %}