{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->
<link href="../static/css/homestyle.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body bgcolor="#000000">

<!-- Header -->
<div class="header">
  <div class="logo">
  	<img src="../static/images/logo2.png" width="275" height="60" alt=""/>
  </div>
  <div class="search">
  	<form class="search" action="../search/search_page" method="POST" style="justify-content: center; padding-top: 15px; padding-left: 80px;">
		<div class="form-group">
			<input type="text" id="search" class="form-control" name="search_criteria" placeholder="Search...">
		</div>
	</form>
  </div>
  <div class="submit">
  	<form class="search_button" action="../search/search_page" method="POST" style="justify-content: center; padding-top: 16px; padding-left: 10px;">
		<button type="submit" name="search" > Submit </button>
	</form>
  </div>
  {% if username == None %}
      <div class="login" style="padding-top: 16px; padding-left: 1045px">
        <form class="login" action="../login/login_page">
            <button type="submit" name="search"> Login </button>
        </form>
      </div>
      <div class="signup" style="padding-top: 16px; padding-left: 5px;">
        <form class="signup" action="../signup/signup_page">
            <button type="submit" name="search"> Sign Up </button>
        </form>
      </div>
  {% else %}
      <div class="profile_pic" style="padding-top: 16px; padding-left: 1050px">
          <img src="../static/images/blank_profile.png" width="25" height="25">
      </div>
      <div class="profile_link" style="padding-top: 20px; padding-left: 5px;">
          <a href="../profile/profile_page" style="color: white; font-size: 20px;">{{ username }}</a>
      </div>
      <div class="logout" style="padding-top: 16px; padding-left: 5px;">
        <form class="logout" action="../login/logout">
            <button type="submit" name="logout" style="font-size: 20px;"> Logout </button>
        </form>
      </div>
  {% endif %}
</div>

<!-- Navigation Bar -->
<div class="navbar">
    <h3 style="color: white;">The <b style="color: #D4AF37">BEST</b> place to get all of your movie needs.  <b style="color: #D4AF8F">Get Crunchin'</b></h3>
</div>

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    <h2>Upcoming Movies</h2>
    <a style="color:#D4AF8F" href="http://127.0.0.1:5000/search/movie_details_page?title=Avengers%3A+Endgame&id=tt4154796&isAdult=0&startYear=2019&genres=Action%2CAdventure%2CFantasy&runtime=181"><h4 style="text-decoration: underline">Avengers: Endgame</h4></a>
    <a href="http://127.0.0.1:5000/search/movie_details_page?title=Avengers%3A+Endgame&id=tt4154796&isAdult=0&startYear=2019&genres=Action%2CAdventure%2CFantasy&runtime=181"><img src="../static/images/endgame poster.jpg" style="width:100%"></a>
    <p style="font-size: 15px;">Coming out April 26th, this monumental superhero movie ends the decade long MCU journey.  And so the hole in my life returns...</p>
    <a style="color:#D4AF8F" href="http://127.0.0.1:5000/search/movie_details_page?title=Pok%C3%A9mon+Detective+Pikachu&id=tt5884052&isAdult=0&startYear=2019&genres=Action%2CAdventure%2CComedy&runtime=104"><h4 style="text-decoration: underline">Pokemon Detective Pikachu</h4></a>
    <a href="http://127.0.0.1:5000/search/movie_details_page?title=Pok%C3%A9mon+Detective+Pikachu&id=tt5884052&isAdult=0&startYear=2019&genres=Action%2CAdventure%2CComedy&runtime=104"><img src="../static/images/detective pikachu poster.jpg" style="width:100%"></a>
    <p style="font-size: 15px;">Coming out May 10th, this noir detective comedy brings life to the pokemon world, hopefully it's as good as it looks.</p>
    <a style="color:#D4AF8F" href="http://127.0.0.1:5000/search/movie_details_page?title=Toy+Story+4&id=tt1979376&isAdult=0&startYear=2019&genres=Adventure%2CAnimation%2CComedy&runtime=%5CN"><h4 style="text-decoration: underline">Toy Story 4</h4></a>
    <a href="http://127.0.0.1:5000/search/movie_details_page?title=Toy+Story+4&id=tt1979376&isAdult=0&startYear=2019&genres=Adventure%2CAnimation%2CComedy&runtime=%5CN"><img src="../static/images/toy story 4 poster.jpg" style="width:100%"></a>
    <p style="font-size: 15px;">Coming out June 21th, if it's anything like the last one, don't bring your kids; it's dangerous to drive while crying.</p>
    <a style="color:#D4AF8F" href="http://127.0.0.1:5000/search/movie_details_page?title=Once+Upon+a+Time+in+Hollywood&id=tt7131622&isAdult=0&startYear=2019&genres=Comedy%2CDrama&runtime=%5CN"><h4 style="text-decoration: underline">Once Upon a Time in Hollywood</h4></a>
    <a href="http://127.0.0.1:5000/search/movie_details_page?title=Once+Upon+a+Time+in+Hollywood&id=tt7131622&isAdult=0&startYear=2019&genres=Comedy%2CDrama&runtime=%5CN"><img src="../static/images/hollywood poster.jpg" style="width:100%"></a>
    <p style="font-size: 15px;">Coming out July 26th, Tarantino's 9th film follows a faded television actor and his stunt double on their quest to fame and success in the final years of Hollywood's Golden Age.</p>
  </div>
  <div class="main">
    <h2 style="text-align: center">Trending Movies</h2>
    <h4 style="text-align: center">Hottest movies in theaters now!</h4>
		<!-- Slideshow container -->
	<div class="slideshow-container">
  		<div class="mySlides1">
   			<div class="numbertext">1 / 4</div>
            <a href="http://127.0.0.1:5000/search/movie_details_page?title=Shazam%21&id=tt0448115&isAdult=0&startYear=2019&genres=Action%2CAdventure%2CComedy&runtime=132"><img src="../static/images/shazam.jpg" style="width:100%"></a>
    		<div class="text">Shazam</div>
  		</div>

  		<div class="mySlides1">
   			<div class="numbertext">2 / 4</div>
            <a href="http://127.0.0.1:5000/search/movie_details_page?title=Pet+Sematary&id=tt0837563&isAdult=0&startYear=2019&genres=Horror%2CMystery%2CThriller&runtime=101"><img src="../static/images/pet sematary poster.jpeg" style="width:100%"></a>
    		<div class="text">Pet Sematary</div>
  		</div>

  		<div class="mySlides1">
   			<div class="numbertext">3 / 4</div>
            <a href="http://127.0.0.1:5000/search/movie_details_page?title=Missing+Link&id=tt6348138&isAdult=0&startYear=2019&genres=Adventure%2CAnimation%2CComedy&runtime=95"><img src="../static/images/missing link poster.jpg" style="width:100%"></a>
    		<div class="text">Missing Link</div>
  		</div>

  		<div class="mySlides1">
   			<div class="numbertext">4 / 4</div>
            <a href="http://127.0.0.1:5000/search/movie_details_page?title=Us&id=tt6857112&isAdult=0&startYear=2019&genres=Horror%2CThriller&runtime=116"><img src="../static/images/us-poster-social.jpg" style="width:100%"></a>
    		<div class="text">Us</div>
  		</div>

  		<a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  		<a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
	</div>
	<br>
    <br>
    <h2 style="text-align: center">Staff Picks</h2>
    <h4 style="text-align: center">The best movies chosen by our staff!</h4>
    <div class="slideshow-container">
		<div class="slideshow-container">
  		<div class="mySlides2">
	    	<div class="numbertext">1 / 3</div>
            <a href="http://127.0.0.1:5000/search/movie_details_page?title=Deadpool&id=tt1431045&isAdult=0&startYear=2016&genres=Action%2CAdventure%2CComedy&runtime=108"><img src="../static/images/deadpool poster.jpg" style="width:100%"></a>
		    <div class="text">Deadpool</div>
  		</div>

  		<div class="mySlides2">
   			<div class="numbertext">2 / 3</div>
            <a href="http://127.0.0.1:5000/search/movie_details_page?title=The+Big+Lebowski&id=tt0118715&isAdult=0&startYear=1998&genres=Comedy%2CCrime&runtime=117"><img src="../static/images/big lebowski poster.jpg" style="width:100%"></a>
    		<div class="text">The Big Lebowski</div>
  		</div>

  		<div class="mySlides2">
   			<div class="numbertext">3 / 3</div>
            <a href="http://127.0.0.1:5000/search/movie_details_page?title=Hauru+no+ugoku+shiro&id=tt0347149&isAdult=0&startYear=2004&genres=Adventure%2CAnimation%2CFamily&runtime=119"><img src="../static/images/howls poster.jpg" style="width:100%"></a>
    		<div class="text">Howl's Moving Castle</div>
  		</div>

  		<a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
  		<a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
	</div>
	<br>
  </div>
</div>

<!-- Footer -->
<div class="footer">
	<h2>Helpful links</h2>
	<a href="{{ url_for('recommend.recommendation') }}" style="color:white;">Recommend a movie</a>
 	<a href="{{ url_for('support.support_ticket') }}" style="color:white;">Support</a>
</div>

<script>
	var slideIndex = [1,1];
	/* Class the members of each slideshow group with different CSS classes */
	var slideId = ["mySlides1", "mySlides2"]
	showSlides(1, 0);
	showSlides(1, 1);

	function plusSlides(n, no)
	{
	  showSlides(slideIndex[no] += n, no);
	}

	function showSlides(n, no)
	{
	  var i;
	  var x = document.getElementsByClassName(slideId[no]);
	  if (n > x.length) {slideIndex[no] = 1}
	  if (n < 1) {slideIndex[no] = x.length}
	  for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";
	  }
	  x[slideIndex[no]-1].style.display = "block";
	}
</script>

</body>
</html>
{% endblock %}