{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Welcome to Crun.ch.</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link href="../static/css/recommendstyle.css" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: black">
<div class="container" style="background:#000000" align="center">
	<h1>Recommend a Movie!</h1>

 <div class="container" style="background:#181818; border:1px solid #D4AF8F; width: 60%; padding-bottom: 10px"  align="center">
       <form class="recommed" action="../recommend/recommend_check" method="POST">
          <div class="form-group">
	         <label for="movie_name">Name of movie:</label>
	         <input type="text" id="movie_name" class="form-control" name="movie_name" placeholder="Movie Name" value={{ request.form.movie_name}}>
		   </div>
	       <div class="form-group">
 	         <label for="user">User:</label>
	         <input type="text" id="user" class="form-control" name="user" placeholder="Username" value={{ request.form.user }}>
		   </div>
           <div class="form-group">
 	         <label for="why">Why Should We Add It?</label>
 	         <br>
	         <textarea name="msg" cols="70" rows="20" placeholder="Give us a good reason." value={{ request.form.msg }}></textarea>
		   </div>
          <button type="submit"> Submit </button>
       </form>
</div>
	</div>
</body>
</html>
{% endblock %}