{% block content %}
<<<<<<< HEAD
<html>
    <h1>Welcome! Search for movies here!</h1>
    <body>
        <form action = '/search/search_page' method="POST">
            Search: <input type="text" name="search_criteria"> <input type="submit" value="Search">
        </form>
=======
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->
<link href="css/searchstyle.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body bgcolor="#000000">

	<!-- Header -->
	<div class="header">
	  <div class="logo">
		<img src="images/logo2.png" width="275" height="60" alt=""/>
	  </div>
	  <div class="search">
		<form class="search" action="../search/search_page" method="POST" style="justify-content: center; padding-top: 15px; padding-left: 80px;">
			<div class="form-group">
				<input type="text" id="search" class="form-control" name="search_criteria" placeholder="Search...">
			</div>
		</form>
	  </div>
	  <div class="submit">
		<form style="justify-content: center; padding-top: 16px; padding-left: 10px;">
			<button type="submit" name="search" > Submit </button>
		</form>
	  </div>
	</div>

	<!-- Navigation Bar -->
	<div class="navbar">
	  <a href="#">Link</a>
	  <a href="#">Link</a>
	  <a href="#">Link</a>
	  <a href="#">Link</a>
	</div>
>>>>>>> hershil
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
    </body>
</html>
{% endblock %}